<main class="self-presentation-info">
    <p>
        Меня зовут Сергей
    </p>
    <p>
        Меня заинтерисовала мысль о своем блоге-дневнике, где я мог бы писать о своей жизни. Поэтому буду тут писать о
        прошедших и настоящих событиях в моей жизни (и не забывать).
    </p>
    <p>
        Прежде, я писал это все в блоге на medium.com, но понял, что там будет не удобно распечатать весь дневник, если
        будет нужно (нужно сначала все проскролить, что бы подгрузились все посты, а потом еще проэкспандить все посты,
        что больше определенного объема). Да и дневник - это личное, не хочу, что бы его мог любой найти через поиск.
        <br>
        <br>
        <a class="continue-reading check-link" href="{{"/posts" | relative_url }}">Читать весь дневник &rarr;</a>
    </p>

    <p>
        Мои воспоминания о каких либо значимых событиях моей жизни я выделил в отдельную часть - воспоминания. Они
        подруамевают больший объем текста и большую продуманность.
        <br>
        <br>
        <a class="continue-reading check-link" href="{{"/memories" | relative_url }}">Читать воспоминания &rarr;</a>
    </p>
    <p>
        У меня есть хобии - генеалогия. И я так же решил писать про результаты моих поисков.
        <br>
        <br>
        <a class="continue-reading check-link" href="{{"/ancestors" | relative_url }}">Читать о моих предках и родственниках
        &rarr;</a>
    </p>
</main>