<!-- Navigation -->
<nav class="main-navigation" id="site-navigation">
  <div class="container">
    <button id="menu-toggle-button" class="menu-toggle">
        <img class="menu-icon" src="../img/hamburger-menu.svg" />
        <img class="cross-icon" src="../img/cross-icon.svg" />
        <span class="menu-text">Меню</span>
    </button>
    <div class="menu-menyu-1-container">
      <ul id="menu-menyu-1" class="menu nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link check-link" href="{{ "/posts" | relative_url }}">Дневник</a>
        </li>
        <li class="nav-item">
           <a class="nav-link check-link" href="{{"/memories" | relative_url }}">Воспоминания</a>
        </li>
        <li class="nav-item">
           <a class="nav-link check-link" href="{{"/ancestors" | relative_url }}">Мои предки</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
