<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% unless page.url contains 'semenzhigalo' or page.url contains 'zalazjevillage' %}
  <div id="page" class="hfeed site">
    <header id="masthead" class="site-header">
      <div class="site-branding">
        <h1 class="site-title"><a href="/">{{ site.title | escape }}</a></h1>
        {% if site.description %}
        <!--<div class="site-description check-item">{{ site.description }}</div>-->
        {% endif %}

      </div>
      {% include navbar.html %}
    </header>
  </div>
{% endunless %}

  <div id="content" class="site-content">
    {{ content }}
  </div>
{% unless page.url contains 'semenzhigalo' or page.url contains 'zalazjevillage' %}
  {% include footer.html %}
{% endunless %}
  {% include scripts.html %}

</body>

</html>
